@import "../../assets/globalStyle.css";

.home-page {
  background: var(--bg-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page .game-board {
  min-width: 29.5vw;
  height: 85vh;
  background: var(--bg-color2);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board .winner-message{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size:larger;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 15px;
}

.game-board .score-board {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 20px;
    margin-bottom: 40px;
}

.score-board .score-card {
  min-width: 5.5vw;
  min-height: 8vh;
  border-radius: 5px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-board .card1 {
  background: rgba(72, 210, 254, 1);
  margin-right: 15px !important;
}

.score-board .card2 {
  background: rgba(188, 219, 249, 1);
  margin-right: 15px !important;
}

.score-board .card3 {
  background: rgba(226, 190, 0, 1);
}

.game-board .board {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 20px;
}

.board .cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--grid);
  cursor: pointer;
  font-size: 4rem;
  color: var(--white);
}


.buttons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px 0px;
}

.resetBoard, .resetGame{
  min-width: fit-content;
  min-height: 6vh;
  width: 12vw;
  height: 6vh;
  background: var(--white);
  color: var(--text);
  border: 0px !important;
  border-radius: 10px;
  font-size: larger;
  font-weight: 600;
}

@media (max-width: 575.98px) {
  .home-page .game-board{
    width: 80%;
    height: 65vh;
    padding: 20px;
    padding-top: 30px;
  }

  .game-board .score-board {
    width: 100%;
    display: grid;
    grid-template-columns: 29.3% 29.3% 29.3%;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .score-board .score-card {
    min-width: 0;
    min-height: 4vh;
    font-size: 0.8rem;
  }

  .game-board .board {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 10px;
  }

  .resetBoard, .resetGame{
    min-width: 30vw;
    height: 7vh;
    background: var(--white);
    color: var(--text);
    border: 0px !important;
    border-radius: 10px;
    font-size:medium;
    font-weight: 600;
  }
  
}